@model IEnumerable<MvcPresentationLayer.Models.User>
<h4>Users</h4>
@*@using (Html.BeginForm("Edit", "User", FormMethod.Post))
    {*@
    <table class="table">
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.Email)*@
                Email
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.CreationDate)*@
                Date of Creation
            </th>
            <th>
                Role
            </th>
            <th>
                @*Html.DisplayNameFor(model => model.Profile.Login)*@
                Login
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
    {
        <tr>
            <td>
                @* @Html.HiddenFor(modelItem=>item.Id)
    @Html.HiddenFor(modelItem => item.IsChanged)
    @Html.DisplayFor(modelItem => item.Email)
    @Html.HiddenFor(m => m[i].Id)
    @Html.HiddenFor(m => m[i].IsChanged)
    @Html.HiddenFor(m => m[i].Password)
    @Html.DisplayFor(m => m[i].Email)*@
                @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.CreationDate)
                    @* @Html.DisplayFor(m => m[i].CreationDate)*@
    </td>
    <td>
        @Html.DisplayFor(modelItem=>item.Role.Name)
      @*   @Html.DropDownListFor(modelItem => item.RoleId, ViewBag.Roles as SelectList, new { @class = "downListRoles" })
                  @Html.DisplayFor(m => m[i].Role)
    @Html.DisplayFor(m => m[i].RoleId)
    @Html.DropDownList("RoleId", ViewBag.Roles as SelectList, htmlAttributes: new { @class = "form-control downListRoles" })*@
    </td>
    <td>
       @Html.DisplayFor(modelItem => item.Profile.Login)
            @*        @Html.DisplayFor(m => m[i].Profile.Login)*@
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { email = item.Email })
                    </td>
                </tr>
            }

        </table>

      @*  <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }*@

    @section scripts{
        <script>

            $(".downListRoles").click(function (e) {
                /*var pn =*/(this).parentNode.parentNode.childNodes[1].children[1].value = true;
                //pn = true;
                //alert(pn);
            })
        </script>
    }