@model MvcPresentationLayer.Models.ProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container-fluid">
    <div class="row">
        <div>
    <div class="img-responsive">
        @if (Model.Image != null)
        {
            <img width="75" height="75" src="@Url.Action("GetImage", "Profile", new { Model.Id })" />
        }
        else
        {
            <img src="~/Content/AvatarImage/2112715.png" alt="Avatar image" />
        }
    </div><br />
            <div>
                @Html.DisplayFor(model=>model.Login)
            </div><br />

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Image)
        @Html.HiddenFor(model => model.LastUpdateDate)
        @Html.HiddenFor(model => model.UserId)
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, null, new { @class = "text-danger" })
            </div>
        </div><br />
        <div class="form-group">
            <input type="file" name="image"/>
        </div><br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
}
            </div>
    </div>
  </div>


