@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <span class="panel-body">Authentication type: @ViewBag.AuthType</span>
    <span class="panel-body">Your login: @ViewBag.Login</span>
    <span class="panel-body">@ViewBag.IsAdminInRole</span>
</div>
