@model IEnumerable<MvcPresentationLayer.Models.Section>

<div id="modDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>


<table class="table">

    @foreach (var item in Model)
    {
        <tr class="success">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (Request.RequestContext.HttpContext.User.Identity.IsAuthenticated)
            {
            <td>
                @Html.ActionLink("Add Topic", "Create", "Topic", new { sectionId = item.Id }, null)|
                @Html.ActionLink("Delete Section", "Delete", "Home", new { id = item.Id }, null)|
                @Html.ActionLink("Edit section", "EditSection", "Home", new { id = item.Id }, new { @class="sectionItem"})|
            </td>
            }
            <!--<td>Html.Action("CreateForumPartial")</td>-->
        </tr>
        if (item.Topics != null)
        {
            foreach (var topic in item.Topics)
            {
                <tr>
                    <td>
                        @Html.ActionLink(topic.Title, "Index", "Post", new { topicId = topic.Id }, null)
                    </td>
                </tr>
            }
        }
    }

</table>

<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".sectionItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })

</script>
