@model IEnumerable<MvcPresentationLayer.Models.Section>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-info">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9 text-muted">
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                    </div>
                    @if (Request.RequestContext.HttpContext.User.Identity.IsAuthenticated
&& Request.RequestContext.HttpContext.User.IsInRole("admin"))
                    {
                        if (item.Topics == null)
                        {
                            <div class="col-md-1">
                                @Html.ActionLink("Delete", "DeleteSection", "Home", new { id = item.Id }, new { @class = "sectionDelete btn btn-default" })
                            </div>
                        }
                        <div class="col-md-1 text-right">
                            @Html.ActionLink("Edit", "EditSection", "Home", new { id = item.Id }, new { @class = "sectionItem btn btn-default" })
                        </div>
                    }             
                    @if (Request.RequestContext.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <div class="col-md-1 text-right">
                            @Html.ActionLink("Add Topic", "CreateTopic", "Topic", new { sectionId = item.Id }, new { @class = "topicCreate btn btn-default" })
                        </div>
                    }
                </div>
            </div>
        </div>

        if (item.Topics != null)
        {

            foreach (var topic in item.Topics)
            {
                <div class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <img src="~/Content/AvatarImage/star.PNG" alt="topicImage" />
                                @Html.ActionLink(topic.Title, "Index", "Post", new { topicId = topic.Id }, null)
                                <small class="text-muted">@topic.User.Profile.Login</small>
                            </div>
                            <div class="col-md-2 text-right">
                                <small>
                                    @topic.LastUpdatedDate
                                    @topic.Posts.Count posts
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".sectionItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                    $.validator.unobtrusive.parse("#editSection");
                });
            });
        })

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".sectionDelete").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".topicCreate").click(function (e) {
                e.preventDefault();

                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');

                    $.validator.unobtrusive.parse("#createTopic");
                });
            });
        });


    </script>
}


