@model IEnumerable<MvcPresentationLayer.Models.Topic>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag</h2> 


<table class="table">
@foreach (var item in Model)
{
    <tr>
        <th>
            @Html.ActionLink(item.Title, "Index", "Forum", new { id = item.Id }, null)
        </th>
    </tr>
    }
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.Partial("Answer")
</p>

<p>
    @Ajax.ActionLink("To Answer", "Add",
             new AjaxOptions { UpdateTargetId = "part_view", InsertionMode = InsertionMode.Replace })
</p>

<div id="part_view"></div>