@model List<MvcPresentationLayer.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts To Moderate <span class="badge">@Model.Count</span></h2>
@using (Html.BeginForm("Edit", "Moderator", FormMethod.Post))
{
    if (Model != null)
    {
        <ul class="list-group table-striped">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <li class="list-group-item">
                    @Html.HiddenFor(m => m[i].Id)
                    @Html.HiddenFor(m => m[i].TopicId)
                    @Html.HiddenFor(m => m[i].UserId)
                    @Html.HiddenFor(m => m[i].Date)
                    @Html.HiddenFor(m => m[i].Text)
                    @Html.DropDownListFor(m => m[i].StateId, ViewBag.States as SelectList,new { id="downList"})
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <small>@Html.DisplayFor(m => m[i].Date)</small>
                                </div>
                                <div class="row">
                                    <small>@Html.DisplayFor(m => m[i].User.Profile.Login)</small>
                                </div>
                                <div class="row">
                                    <div class="img-responsive">
                                        <img width="75" height="75" src="@Url.Action("GetImage", "Profile", new { Model[i].User.Profile.Id })" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div style="word-wrap:break-word;">
                                        @Html.DisplayFor(m => m[i].Text)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </li>
            }
        </ul>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }
}

